@import "../../Mixins";

.commentList {
    display: flex;
    flex-direction: column;
}

.commentTab {
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    border: 1px solid white;
    order: 1;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        cursor: pointer;
        border-radius: 0.5rem;
    }

    &_active {
        background-color: #ece9ef;
        order: 0;
    }
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    flex-wrap: wrap;
}
