@import "../../Mixins";

.commentList {
    display: flex;
    flex-direction: column;
}

.commentTab {
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    border: 1px solid white;
    order: 1;

    &:hover, &:focus, &:active {
        outline: none;
        cursor: pointer;
        border: 1px solid blueviolet;
    }

    &_active {
        background-color: #61dafb;
        order: 0;
    }
}
