@import "../../Mixins";
#map {
    height: 800px;
    width: 100%;
}

.mapContainer {
    border-radius: 0.5rem;
    width: 100%;
    height: calc(100vh - 64px);
    @include mediaQuery(728, max) {
        height: 50vh;
    }
}
